.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
  }
  
  
.box{
    background-color: white;
    /* margin-bottom: 20px; */
    padding-bottom: 10px;
    position: fixed;
    top: 30vh;
    left: 10%;
    width: 80%;
    z-index: 100;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.head{
    background-color: rgb(137, 72, 190);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-top: -20px;
}
h2{
    color: white;
}
.para p{
    color: black;
    text-align: left;
    margin-left: 10px;
}

.buttonss{
    background-color: rgb(137, 72, 190);
    padding: 10px 20px;
    margin-left: 900px;

}